.clock {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}

.clockFace, .clockHand {
  width: 800px;
  height: 800px;
  position: fixed;
  border-radius: 400px;
}

.clockFace {
  font-size: calc(10px + 4vmin);
  font-weight: bold;
}

.clockHand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hourHandHead {
  width: 24px;
  height: 240px;
  background-color: green;
}

.hourHandTail {
  width: 24px;
  height: 240px;
}

.minuteHandHead {
  width: 10px;
  height: 360px;
  background-color: red;
}

.minuteHandTail {
  width: 10px;
  height: 360px;
}

.secondHandHead {
  width: 4px;
  height: 400px;
  background-color: salmon;
}

.secondHandTail {
  width: 4px;
  height: 400px;
}
